.login {
    font-size: 32px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #f72585, #caf0f8)
}

h1 {
    color: blue;
}

p {
    color: red;
}

img {
    border-radius: 50%;
    vertical-align: middle;
    padding: 10px
}

ul {
    list-style-type: none;
  }